.main {
  border: 1px solid blue;
}
.image-card {
  width: 128px;
  height: 318px;
}
.filled {
  color: #e77c40;
}
.circle-image {
  border-radius: 50%;
}
.title h6 {
  color: #23a6f0;
}
.title h2 {
  color: #23a6f0;
}
.title h5 {
  color: #252b42;
}
.title .span-text {
  color: #23a6f0;
}
.colorPallet {
  color: #23a6f0;
}
.image-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20% !important;
}
.icons-tick {
  height: 40px;
  width: 40px;
}
.imageContainer {
  position: relative;
  text-align: center;
  color: white;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.colorDiv {
  height: 24px;
  width: 51px;
  border: 1px solid #e74040;
  background-color: #e74040;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
